# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
#import csv
city_data = "../WeatherPy/output_data/cities.csv"
city_data_df = pd.read_csv(city_data)
city_df = pd.DataFrame(city_data_df)
city_df

,city,latitude,longitude,max temp (F),humidity,cloudiness,windspeed,country,date
0,Flinders,-34.58,150.86,51.01,71,19,1.01,AU,1596145763
1,Barrow,71.29,-156.79,37.40,93,90,5.82,US,1596145763
2,Ushuaia,-54.80,-68.30,31.17,94,56,4.43,AR,1596145764
3,Chumikan,54.72,135.31,53.73,97,100,16.78,RU,1596145764
4,Yellowknife,62.46,-114.35,69.80,49,75,18.34,CA,1596145764
...,...,...,...,...,...,...,...,...,...
546,Nushki,29.55,66.02,83.48,41,4,7.07,PK,1596145888
547,Mujiayingzi,42.12,118.78,72.21,68,100,7.36,CN,1596145646
548,Abu Kamal,34.45,40.92,92.01,15,0,7.27,SY,1596145888
549,Almeirim,-1.52,-52.58,81.46,62,85,1.61,BR,1596145888
550,Makkah al Mukarramah,21.43,39.83,88.50,53,92,11.65,SA,1596145889

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

locations = city_df[["latitude", "longitude"]]
weights = city_df["humidity"]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [30]:
#Narrow down city list by conditions
ideal_df1 = city_df.loc[(city_df["max temp (F)"] < 90)]
ideal_df2 = city_df.loc[(city_df["max temp (F)"] > 70)]
ideal_df3 = city_df.loc[(city_df["humidity"] < 70)] 
ideal_df4 = city_df.loc[(city_df["windspeed"] < 10)]
ideal_df5 = city_df.loc[(city_df["cloudiness"] < 20)]
#ideal_df5
ideal_df = ideal_df5.dropna()
ideal_df

,city,latitude,longitude,max temp (F),humidity,cloudiness,windspeed,country,date
0,Flinders,-34.58,150.86,51.01,71,19,1.01,AU,1596145763
10,Cape Town,-33.93,18.42,51.80,93,0,3.36,ZA,1596145765
11,Mahon,39.89,4.27,78.80,83,0,3.36,ES,1596145598
15,Storm Lake,42.64,-95.21,78.80,53,1,12.75,US,1596145518
19,Cabo San Lucas,22.89,-109.91,89.60,58,5,14.99,MX,1596145767
...,...,...,...,...,...,...,...,...,...
540,Mana,5.66,-53.78,79.92,76,13,4.90,GF,1596145886
542,Takoradze,4.88,-1.76,74.25,86,17,8.52,GH,1596145645
545,Lermontovka,47.15,134.34,71.01,85,8,5.61,RU,1596145888
546,Nushki,29.55,66.02,83.48,41,4,7.07,PK,1596145888
548,Abu Kamal,34.45,40.92,92.01,15,0,7.27,SY,1596145888

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure